.root {
    .disclaimer {
        font-size: 0.7rem;
    }

    .register {
        text-align: center;
    }

    .error {
        font-size: 0.9rem;
        color: red;
        margin-bottom: 1rem;
    }
}